.etimology {
  text-align: left;
  color: rgb(168, 168, 168);
  margin-bottom: 5rem;
}

.quote {
  text-align: left;
}

.about-img {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.believe {
  font-size: 24px; /* default font size for mobile view */
  text-align: right;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

@media (min-width: 768px) {
  .believe {
    font-size: 36px; /* font size for tablet view */
  }
}

@media (min-width: 1024px) {
  .believe {
    font-size: 58px; /* font size for desktop view */
  }
}

.underlined-text {
  font-weight: 700;
  color: #fa206f;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.dream {
  font-size: 24px;
  text-align: right;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .dream {
    font-size: 36px; /* font size for tablet view */
  }
}

@media (min-width: 1024px) {
  .dream {
    font-size: 58px; /* font size for desktop view */
  }
}

.title-edited {
  padding-top: 80px;

  @media (max-width: 768px) {
    padding-top: 5px;
  }
}

/* styles.css or a similar stylesheet file */
.responsive-title {
  font-size: 40px;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .responsive-title {
    font-size: 72px;
  }
}

@media (min-width: 1200px) {
  .responsive-title {
    font-size: 88px;
  }
}

.header-p {
  font-size: 16px; /* default font size for small screens */
  text-align: justify;
  margin-bottom: 2rem; /* margin-bottom for small screens */
}

@media (min-width: 768px) {
  .header-p {
    font-size: 20px; /* font size for medium screens */
    margin-bottom: 0; /* remove margin-bottom for medium screens */
  }
}

@media (min-width: 1200px) {
  .header-p {
    font-size: 32px; /* font size for large screens */
  }
}
