.NavbarItems {
  /* background-color: #222; */
  background-color: #fff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%);
}

.navbar-logo {
  color: #fa206f;
  font-size: 2rem;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  position: relative; /* Add position relative to create the animation */
  transition: color 0.3s ease-in-out; /* Add a color transition for smoothness */
}

.navbar-logo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fa206f;
  transform: scaleX(0); /* Initially, scale the line to 0 width */
  transform-origin: 100%; /* Start scaling from the right */
  transition: transform 0.3s ease-in-out; /* Add a transform transition for the animation */
}

.navbar-logo:hover {
  color: #fa206f; /* Change text color on hover */
}

.navbar-logo:hover::before {
  transform: scaleX(1); /* Scale the line to full width on hover */
  transform-origin: 0%; /* Start scaling from the left */
}

.fa-react {
  margin-left: 0.2rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
  margin-bottom: 0;
}

.nav-links {
  color: #222;
  text-decoration: none;
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
}

.nav-links i {
  padding-right: 10px;
}

.nav-links:hover {
  color: #fa206f;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.talkToUs {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  background-color: #fa206f;
  color: white;
}

.talkToUs:hover {
  background-color: #fa206f;
  color: #fff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25); /* Add box-shadow on hover */
}

.fa-bars {
  color: #222;
}

.nav-links-mobile {
  display: none;
}

.menu-icons {
  display: none;
}

@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 99;
  }
  .nav-menu {
    /* background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      
      border: 1px solid rgba(255, 255, 255, 0.18); */
    background-color: #fff;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: -110%;
    opacity: 1;
    transition: all 0.3s ease;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: -1;
  }

  .nav-links {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0;
  }

  .nav-links:hover {
    color: #fa206f;
    transition: none;
  }

  .menu-icons {
    display: block;
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    color: #fa206f;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.2rem;
  }
  .fa-times {
    color: #222;
  }

 
}
