/* Default styles for larger screens */
.card {
  display: flex;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  text-align: left;
}

.card-body {
  margin-left: 1rem;
  margin-right: 0;
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.badges {
  display: flex;
  flex-wrap: wrap;
}

.card-text-container {
  display: "flex";
  flex-wrap: "wrap";
}

.card-image-container {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.card-title.h5 {
  font-size: 2.5rem;
}

p.card-text {
  font-size: 18px;
}

.learn-more {
  text-decoration: none;
  border: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.learn-more-container {
  margin-top: 40px;
}

/* Styles for mobile screens */
@media (max-width: 768px) {
  .card-body {
    flex-direction: column; /* Stack content vertically on small screens */
    margin: 0;
    padding: 0;
  }

  .card-image-container {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  .badges {
    flex-direction: row; /* Display categories horizontally on small screens */
  }

  .card-img {
    order: -1; /* Move the image to the top of the card on small screens */
    margin-bottom: 1rem; /* Add spacing between the image and other content */
  }

  .card {
    width: 100%;
  }

  .card-text-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .learn-more-container {
    margin-top: 0;
  }
}

/* Styles for mobile screens */
@media only screen and (min-width: 768px) and (max-width: 1100px) and (orientation: landscape) {
  .learn-more-container {
    margin-top: 140px;
  }
}
