/* Default styles for larger screens */
.card {
    display: flex;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    text-align: left;
    width: 70%;
  }
  
  .card-body {
    margin: 0rem 2rem 0rem 2rem;
    display: flex;
  }
  
  .badges {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Styles for mobile screens */
  @media (max-width: 768px) {
    .card-body {
      flex-direction: column; /* Stack content vertically on small screens */
    }
  
    .badges {
      flex-direction: row; /* Display categories horizontally on small screens */
    }
  
    .card-img {
      order: -1; /* Move the image to the top of the card on small screens */
      margin-bottom: 1rem; /* Add spacing between the image and other content */
    }

    .card {
      width: 100%;
    }
  }
  