/* Technologies.css */

/* Style for the selected tab */
.custom-tabs {
  justify-content: center;
}

.nav-tabs {
  border-bottom: none;
  --bs-nav-tabs-border-width: none;
  --bs-nav-tabs-link-active-color: #fa206f;
  margin-bottom: 3.5rem;
}

.nav-link {
  font-size: 20px;
  margin-bottom: 2rem;
  text-align: justify;
  font-weight: 500;
}

.nav-item {
  margin-right: 2rem;
  margin-left: 2rem;
}

.nav {
  --bs-nav-link-color: black;
  --bs-nav-link-hover-color: black;
}

/* Technologies.css */

/* Style for the technology logos */
.technology-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px; /* Adjust the gap between logos */
}

.technology-logos img {
  max-width: 70px; /* Adjust the maximum width of the logos */
  height: auto;
}

.technology-title{
    font-weight: 300;
}

/* Style for the selected tab */

.custom-tabs .nav-link {
  border-radius: 0.5rem;
}

.custom-tabs .nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -10px;
  transform: translateX(-50%); 
  width: 100%;
  height: 15px;
  background: #fa206f;
  border-radius: 10px 10px 10px 10px;
}

.custom-tabs .nav-link::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  height: 15px;
  background: #e7e9eb; 
  border-radius: 10px 10px 10px 10px;
}
