@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
}

.obj-width {
  max-width: 1500px;
  margin: auto;
}

.header-title {
  font-size: 55px;
  margin-bottom: 1rem;
}

.section-title {
  font-size: 40px;
  margin-bottom: 3rem;
}

.header-text {
  font-size: 20px;
  margin-bottom: 2rem;
  text-align: justify;
}
